<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Cookingorama</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />

  </head>

  <body>
    <!-- Render the sub layout -->
    <div class="flex-column justify-space-around">
      <header class="heading">
      <h2>
       Cookingorama
      </h2>
    </header>
    </div>

  </body>

  <main class="container container-fluid mt-5">
       {{{body}}}
  </main>

</html>