
<header>
  <a href="/" class="signup-box">Sign out</a>
</header>
{{!-- //Recipe Name  --}}
<div class="recipe-name">
    <h1>{{{recipe_name}}}</h1>
</div>
{{!-- Recipe Image --}}
<div class="recipe_photo">
  
</div>
<div>
  <div>
    <h2>Ingredients</h2>
    <h6>Unsalted butter
Bananas, Sugar, Eggs, Plain flour, Baking soda, Baking powder, Salt, Buttermilk, Vainilla extract</h6>
  </div>
  <div>
    <h2>Instructions</h2>
    <h6>  Preheat oven to 180°C. Grease a deep-sided loaf tin 25 x 10 x 11 cm and set aside.“,
        “2. Place ripe bananas into mixing bowl and mash.“,
        “3. Add unsalted butter and caster sugar and mix until combined. Scrape down sides of mixing bowl with spatula.“,
        “4. Add eggs and mix. Add plain flour, baking powder, salt, baking soda, buttermilk and natural vanilla extract and combine.“,
        “5. Pour into prepared loaf tin and bake for 50-60 minutes 180°C or until a wooden skewer inserted into the centre of the bread comes out clean.“,
        “6. Allow to cool in tin for 30 minutes before turning out onto a wire rack. Serve warm or allow to cool completely before transferring into a sealable container until ready to use</h6>
  </div>
  <div>
  <img class="images" src="../public/css/images/Banana.jpg" />
</div>
</div>
